---
pageTitle: トップページ
pageDescription: トップページの情報になります。
pageURL: http://example.com/
pageOgImage: http://example.com/sample.jpg
pageDetail: <a href="https://www.google.co.jp/">googleテスト</a>
---
{{> header_html}}
<h1>{{config.siteName}}</h1>
<p>QDQDQD Assemble!!</p>
<div>{{page.dest}}</div>
<div>{{{pageDetail}}}</div>
{{> footer}}